<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <bean id="dispatchDao" class="com.knight.emms.dao.impl.DispatchDaoImpl" parent="baseLongPKDao" />
    <bean id="dispatchEquipDao" class="com.knight.emms.dao.impl.DispatchEquipDaoImpl" parent="baseLongPKDao">
        <property name="querys">
            <map>
                <entry key="relate_dispatch">
                    <value>select vo from DispatchEquip vo, Dispatch d where vo.dispatchId = d.dispatchId
                    </value>
                </entry>
            </map>
        </property>
    </bean>
	<!-- Dao -->
	<bean id="attendamceDao" class="com.knight.app.dao.impl.AttendamceDaoImpl"
		parent="baseLongPKDao" />
	<bean id="attendamceSetDao" class="com.knight.app.dao.impl.AttendamceSetDaoImpl"
		parent="baseLongPKDao" />
	<bean id="attendamceLocationDao" class="com.knight.app.dao.impl.AttendamceLocationDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tappDispatchDao" class="com.knight.app.dao.impl.TAppDispatchDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tappComponDispatchDetailDao" class="com.knight.app.dao.impl.TAppComponDispatchDetailDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tappEquipDispatchDetailDao" class="com.knight.app.dao.impl.TAppEquipDispatchDetailDaoImpl"
		  parent="baseLongPKDao" />
	<bean id="tappRepairComponDao" class="com.knight.app.dao.impl.TAppRepairComponDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tappRepairTypeDao" class="com.knight.app.dao.impl.TAppRepairTypeDaoImpl"
		parent="baseStrPKDao" />
	<bean id="tappRepairDao" class="com.knight.app.dao.impl.TAppRepairDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tflowCopyChkmanDao" class="com.knight.app.dao.impl.TFlowCopyChkmanDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tflowDefineDao" class="com.knight.app.dao.impl.TFlowDefineDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tflowInstanceDao" class="com.knight.app.dao.impl.TFlowInstanceDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tflowInstanceProcessDao" class="com.knight.app.dao.impl.TFlowInstanceProcessDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tflowNodeDao" class="com.knight.app.dao.impl.TFlowNodeDaoImpl"
		parent="baseLongPKDao" />
	<bean id="inspectRectifyDao" class="com.knight.app.dao.impl.InspectRectifyDaoImpl"
		parent="baseLongPKDao" />
	<bean id="tAppLogisticsDao" class="com.knight.app.dao.impl.TAppLogisticsDaoImpl"
		  parent="baseLongPKDao" />
	<bean id="tAppLogisticsCompDao" class="com.knight.app.dao.impl.TAppLogisticsCompDaoImpl"
		  parent="baseLongPKDao" />
	<bean id="tAppLogisticsEquipDao" class="com.knight.app.dao.impl.TAppLogisticsEquipDaoImpl"
		  parent="baseLongPKDao" />


    <!-- service -->
	<bean id="attendamceService" class="com.knight.app.service.impl.AttendamceServiceImpl">
		<constructor-arg index="0" ref="attendamceDao" />
	</bean>
	<bean id="attendamceSetServiceImpl" class="com.knight.app.service.impl.AttendamceSetServiceImpl">
		<constructor-arg index="0" ref="attendamceSetDao" />
	</bean>
	<bean id="attendamceLocationService"
		  class="com.knight.app.service.impl.AttendamceLocationServiceImpl">
		<constructor-arg index="0" ref="attendamceLocationDao" />
	</bean>
	<bean id="tflowInstanceServiceImpl" class="com.knight.app.service.impl.TFlowInstanceServiceImpl">
		<constructor-arg index="0" ref="tflowInstanceDao" />
	</bean>
	<bean id="tflowDefineServiceImpl" class="com.knight.app.service.impl.TFlowDefineServiceImpl">
		<constructor-arg index="0" ref="tflowDefineDao" />
	</bean>
	<bean id="tflowNodeServiceImpl" class="com.knight.app.service.impl.TFlowNodeServiceImpl">
		<constructor-arg index="0" ref="tflowNodeDao" />
	</bean>
	<bean id="tflowInstanceProcessServiceImpl"
		  class="com.knight.app.service.impl.TFlowInstanceProcessServiceImpl">
		<constructor-arg index="0" ref="tflowInstanceProcessDao" />
	</bean>
	<bean id="tflowCopyChkmanServiceImpl" class="com.knight.app.service.impl.TFlowCopyChkmanServiceImpl">
		<constructor-arg index="0" ref="tflowCopyChkmanDao" />
	</bean>
	<bean id="tappDispatchService" class="com.knight.app.service.impl.TAppDispatchServiceImpl">
		<constructor-arg index="0" ref="tappDispatchDao" />
	</bean>
	<bean id="tappComponDispatchDetailService"
		  class="com.knight.app.service.impl.TAppComponDispatchDetailServiceImpl">
		<constructor-arg index="0" ref="tappComponDispatchDetailDao" />
	</bean>
	<bean id="tappEquipDispatchDetailService"
		  class="com.knight.app.service.impl.TAppEquipDispatchDetailServiceImpl">
		<constructor-arg index="0" ref="tappEquipDispatchDetailDao" />
	</bean>
	<bean id="tappRepairServiceImpl" class="com.knight.app.service.impl.TAppRepairServiceImpl">
		<constructor-arg index="0" ref="tappRepairDao" />
	</bean>
	<bean id="tappRepairComponServiceImpl" class="com.knight.app.service.impl.TAppRepairComponServiceImpl">
		<constructor-arg index="0" ref="tappRepairComponDao" />
	</bean>
	<bean id="tappRepairTypeServiceImpl" class="com.knight.app.service.impl.TAppRepairTypeServiceImpl">
		<constructor-arg index="0" ref="tappRepairTypeDao" />
	</bean>
	<bean id="inspectRectifyService" class="com.knight.app.service.impl.InspectRectifyServiceImpl">
		<constructor-arg index="0" ref="inspectRectifyDao" />
	</bean>
	<bean id="tAppLogisticsService" class="com.knight.app.service.impl.TAppLogisticsServiceImpl">
		<constructor-arg index="0" ref="tAppLogisticsDao" />
	</bean>
	<bean id="appRemindService" class="com.knight.app.service.impl.AppRemindServiceImpl">
	</bean>

    <!--Action-->
    <bean id="AttendamceAction" class="com.knight.app.action.AttendamceAction"
          scope="prototype" />
    <bean id="TransApprovalAction" class="com.knight.app.action.TransApprovalAction"
          scope="prototype"></bean>
    <bean id="AppDispatchAction" class="com.knight.app.action.AppDispatchAction"
          scope="prototype"></bean>
    <bean id="AppRepairAction" class="com.knight.app.action.AppRepairAction"
          scope="prototype"></bean>
    <bean id="attendamceSetAction" class="com.knight.app.action.AttendamceSetAction"
          scope="prototype"></bean>
    <bean id="AppFlowDefineAction" class="com.knight.app.action.AppFlowDefineAction"
          scope="prototype"></bean>


    <!--system-->
    <!-- 基础DAO -->
    <bean id="genericDao" abstract="true" class="com.knight.core.dao.impl.GenericDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="baseLongPKDao" abstract="true" class="com.knight.core.dao.impl.BaseLongPKDaoImpl" parent="genericDao" />
    <bean id="baseStrPKDao" abstract="true" class="com.knight.core.dao.impl.BaseStrPKDaoImpl" parent="genericDao" />
    <bean id="baseHibernateDao" class="com.knight.core.dao.impl.BaseDaoHibernate">
        <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>
    <bean id="baseJdbcDao" class="com.knight.core.dao.impl.BaseDaoJdbcTemplate">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="initLoadTableDao" class="com.knight.system.dao.impl.InitLoadTableDaoImpl" parent="baseStrPKDao" />

    <!-- 用户角色信息 -->
    <bean id="appRoleDao" class="com.knight.system.dao.impl.AppRoleDaoImpl" parent="baseLongPKDao" />
    <bean id="appUserDao" class="com.knight.system.dao.impl.AppUserDaoImpl" parent="baseLongPKDao" />
    <bean id="appUserExtendDao" class="com.knight.system.dao.impl.AppUserExtendDaoImpl" parent="baseLongPKDao" />
    <bean id="appUserKeyDao" class="com.knight.system.dao.impl.AppUserKeyDaoImpl" parent="baseLongPKDao" />
    <bean id="appUserKeyExtendDao" class="com.knight.system.dao.impl.AppUserKeyExtendDaoImpl" parent="baseLongPKDao" />
    <bean id="companyDao" class="com.knight.system.dao.impl.CompanyDaoImpl" parent="baseLongPKDao" />
    <bean id="departmentDao" class="com.knight.system.dao.impl.DepartmentDaoImpl" parent="baseStrPKDao" />
    <bean id="indexDisplayDao" class="com.knight.system.dao.impl.IndexDisplayDaoImpl" parent="baseLongPKDao" />
    <bean id="shortMessageDao" class="com.knight.system.dao.impl.ShortMessageDaoImpl" parent="baseLongPKDao" />
    <bean id="inMessageDao" class="com.knight.system.dao.impl.InMessageDaoImpl" parent="baseLongPKDao" />
    <bean id="appTipsDao" class="com.knight.system.dao.impl.AppTipsDaoImpl" parent="baseLongPKDao" />

    <!-- 权限菜单相关 -->
    <bean id="appFunctionDao" class="com.knight.system.dao.impl.AppFunctionDaoImpl" parent="baseLongPKDao" />
    <bean id="fileAttachDao" class="com.knight.system.dao.impl.FileAttachDaoImpl" parent="baseLongPKDao" />
    <bean id="funUrlDao" class="com.knight.system.dao.impl.FunUrlDaoImpl" parent="baseLongPKDao" />
    <bean id="sysConfigDao" class="com.knight.system.dao.impl.SysConfigDaoImpl" parent="baseLongPKDao" />

    <!-- 系统日志相关 -->
    <bean id="systemLogDao" class="com.knight.system.dao.impl.SystemLogDaoImpl" parent="baseLongPKDao" />
    <bean id="appUserKeyLogDao" class="com.knight.system.dao.impl.AppUserKeyLogDaoImpl" parent="baseLongPKDao" />

    <context:annotation-config />

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:resource/systemConfig.properties</value>
                <value>classpath:hibernate.properties</value>
                <value>classpath:resource/application_resource.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
        </property>
        <property name="url"
                  value="jdbc:sqlserver://www.zutd.com.cn:1433;DatabaseName=EMMS">
        </property>
        <property name="username" value="sa"></property>
        <property name="password" value="risit654321!@#$"></property>
        <property name="maxActive">
            <value>1000</value>
        </property>
        <property name="maxWait">
            <value>1000</value>
        </property>
        <property name="removeAbandoned">
            <value>true</value>
        </property>
        <property name="removeAbandonedTimeout">
            <value>160</value>
        </property>
    </bean>

    <!--<bean id="dataSource"-->
          <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName"-->
                  <!--value="com.microsoft.sqlserver.jdbc.SQLServerDriver">-->
        <!--</property>-->
        <!--<property name="url"-->
                  <!--value="jdbc:sqlserver://www.zutd.com.cn:1433;DatabaseName=EMMS">-->
        <!--</property>-->
        <!--<property name="username" value="sa"></property>-->
        <!--<property name="password" value="risit654321!@#$"></property>-->
    <!--</bean>-->


    <bean id="defaultLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true" />
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingLocations">
            <list>
                <value>classpath:com/knight/system/model/*.hbm.xml</value>
                <!--<value>classpath:com/knight/hrm/model/*.hbm.xml</value>-->
                <value>classpath:com/knight/emms/model/*.hbm.xml</value>
                <value>classpath:com/knight/app/model/*.hbm.xml</value>
            </list>
        </property>
        <!-- 为处理Blob类型字段的句柄声明 // -->
        <property name="lobHandler">
            <ref local="defaultLobHandler" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="connection.useUnicode">${connection.useUnicode}</prop>
                <prop key="connection.characterEncoding">${connection.characterEncoding}</prop>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.jdbc.batch_size">${hibernate.jdbc.batch_size}</prop>
                <prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
                <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
                <prop key="net.sf.ehcache.configurationResourceName">${net.sf.ehcache.configurationResourceName}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
            </props>
        </property>
    </bean>

    <!-- JDBC模版 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- Hibernate模版 -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate" scope="singleton" lazy-init="default">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!-- 事务控制配置 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="merge*" propagation="REQUIRED" />
            <tx:method name="get*" read-only="true" />
            <tx:method name="query*" read-only="true" />
            <tx:method name="load*" read-only="true" />
            <tx:method name="find*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="interceptorPointCuts0" expression="execution(* com.knight.*.service.impl.*.*(..))" />
        <aop:pointcut id="interceptorPointCuts1" expression="execution(* com.knight.*.domain.impl.*.*(..))" />
        <aop:pointcut id="interceptorPointCuts2" expression="execution(* com.knight.emms.core.service.*.*(..))" />
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="interceptorPointCuts0" />
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="interceptorPointCuts1" />
        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="interceptorPointCuts2" />
    </aop:config>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="cacheSeconds" value="0" />
        <property name="basenames">
            <list>
                <value>classpath:message_zh_CN.properties</value>
            </list>
        </property>
        <property name="useCodeAsDefaultMessage" value="true" />
    </bean>
    <bean id="applicationContextHelper" class="com.knight.core.ApplicationContextHelper" />
    <bean id="logAspect" class="com.knight.system.logger.LogAspect" />

</beans>